src/main/resources/arena/no/nav/virksomhet/tjenester/ytelse/arbeidogaktivitet/arbeidogaktivitet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="arbeidogaktivitet" targetNamespace="http://nav.no/virksomhet/tjenester/ytelse/arbeidogaktivitet/v1" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nav.no/virksomhet/tjenester/ytelse/arbeidogaktivitet/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nav.no/virksomhet/tjenester/ytelse/arbeidogaktivitet/v1" xmlns:feil="http://nav.no/virksomhet/tjenester/ytelse/arbeidogaktivitet/feil/v1" xmlns:meldinger="http://nav.no/virksomhet/tjenester/ytelse/arbeidogaktivitet/meldinger/v1">
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/ytelse/arbeidogaktivitet/feil/v1" schemaLocation="feil/feil.xsd"/>
      <xsd:import namespace="http://nav.no/virksomhet/tjenester/ytelse/arbeidogaktivitet/meldinger/v1" schemaLocation="meldinger/meldinger.xsd"/>
      <xsd:element name="finnYtelseListe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="meldinger:FinnYtelseListeRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnYtelseListeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="meldinger:FinnYtelseListeResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="finnYtelseListebaksystemIkkeTilgjengelig" type="feil:BaksystemIkkeTilgjengelig"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="finnYtelseListe_baksystemIkkeTilgjengelig">
    <wsdl:part name="baksystemIkkeTilgjengelig" element="tns:finnYtelseListebaksystemIkkeTilgjengelig">
<wsdl:documentation>&lt;p&gt;Aerna er ikke tilgjengelig.&lt;/p&gt; </wsdl:documentation>
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnYtelseListeResponse">
    <wsdl:part name="parameters" element="tns:finnYtelseListeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finnYtelseListeRequest">
    <wsdl:part name="parameters" element="tns:finnYtelseListe">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ArbeidOgAktivitetYtelse">
    <wsdl:operation name="finnYtelseListe">
      <wsdl:input message="tns:finnYtelseListeRequest">
    </wsdl:input>
      <wsdl:output message="tns:finnYtelseListeResponse">
    </wsdl:output>
      <wsdl:fault name="baksystemIkkeTilgjengelig" message="tns:finnYtelseListe_baksystemIkkeTilgjengelig">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
