src/main/resources/arena/no/nav/virksomhet/gjennomforing/ytelse/arbeidogaktivitet/arbeidogaktivitet.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://nav.no/virksomhet/gjennomforing/ytelse/arbeidogaktivitet/v1" version="1.1" xmlns:arbeidogaktivitet="http://nav.no/virksomhet/gjennomforing/ytelse/arbeidogaktivitet/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Utvidelse">
    <xsd:sequence>
      <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any" processContents="lax"/>
    </xsd:sequence>
    <xsd:anyAttribute namespace="##any" processContents="lax"/>
  </xsd:complexType>
  <xsd:complexType name="UtbetalingUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidogaktivitet:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Utbetaling">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="utbetPeriodeFra" type="xsd:date"/>
      <xsd:element minOccurs="0" name="utbetPeriodeTil" type="xsd:date"/>
      <xsd:element minOccurs="0" name="belop" type="xsd:double"/>
      <xsd:element minOccurs="0" name="utvidelse" type="arbeidogaktivitet:UtbetalingUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RettighetTypeUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidogaktivitet:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Kodetabell">
    <xsd:sequence>
      <xsd:element name="kode" type="xsd:string"/>
      <xsd:element name="dekode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RettighetType">
    <xsd:complexContent>
      <xsd:extension base="arbeidogaktivitet:Kodetabell">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="utvidelse" type="arbeidogaktivitet:RettighetTypeUtvidelse1"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VedtakUtvidelse2">
    <xsd:complexContent>
      <xsd:extension base="arbeidogaktivitet:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VedtakUtvidelse1">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="dagsats" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dagsats for vedtaket. Dette er uten barnetillegg&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ukesats" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Ukesats for vedtaket. Dette er med barnetillegg&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="rettighetType" type="arbeidogaktivitet:RettighetType">
        <xsd:annotation>
          <xsd:documentation>&lt;table border="1"&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;col width="50.0%"&gt;&lt;/col&gt;&lt;tr&gt;&lt;td class="confluenceTh"&gt;&lt;p&gt;Kode&lt;/p&gt;&lt;/td&gt;&lt;td class="confluenceTh"&gt;&lt;p&gt;Dekode&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;AAP&lt;/p&gt;&lt;/td&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;Arbeidsavklaringspenger&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;DAGO&lt;/p&gt;&lt;/td&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;Ordinære dagpenger&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;DEKS&lt;/p&gt;&lt;/td&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;Eksport - dagpenger               &lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;FISK&lt;/p&gt;&lt;/td&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;Dagp. v/perm fra fiskeindustri&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;LONN&lt;/p&gt;&lt;/td&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;Lønnsgarantimidler - dagpenger&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;PERM&lt;/p&gt;&lt;/td&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;Dagpenger under permitteringer&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;BASI&lt;/p&gt;&lt;/td&gt;&lt;td class="confluenceTd"&gt;&lt;p&gt;Basisytelse&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="arbeidogaktivitet:VedtakUtvidelse2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedtak">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="vedtakId" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Teknisk Id for Vedtak for NAV (Arena)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="vedtakRef" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Funksjonell referanse til vedtaket i NAV (Arena)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="virkningFom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fra og med dato for vedtaket&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="virkningTom" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Til og med dato for vedtaket&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="utbetalingListe" type="arbeidogaktivitet:Utbetaling"/>
      <xsd:element minOccurs="0" name="utvidelse" type="arbeidogaktivitet:VedtakUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ytelsestype">
    <xsd:complexContent>
      <xsd:extension base="arbeidogaktivitet:Kodetabell"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="YtelseUtvidelse2">
    <xsd:complexContent>
      <xsd:extension base="arbeidogaktivitet:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="MeldehistorikkUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidogaktivitet:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Meldehistorikk">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="meldeperiodeFra" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fra dato for etterspurt periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="meldeperiodeTil" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Til dato for etterspurt periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="meldedato" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Dato for selve hendelsen&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="hendelseType" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir det som er grunnlag for meldedato. F.eks:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;p&gt;Elektronisk / Papir meldekort&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Aktivering&lt;/p&gt;&lt;/li&gt;&lt;li&gt;&lt;p&gt;Inaktivering.&lt;/p&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arbeid" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Angir om utbetaling er redusert pga arbeid i perioden. Gjelder meldekort.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="arbeidogaktivitet:MeldehistorikkUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FeilutbetalingUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidogaktivitet:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Feilutbetaling">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="feilutbetPeriodeFra" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fra-dato på beregnet periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="feilutbetPeriodeTil" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Til-dato på beregnet periode&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="belop" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Det beløpet som bruker faktisk har krav på&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="differanse" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Differansen mellom beløpet bruker fikk utbetalt og det bruker hadde krav på&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="arbeidogaktivitet:FeilutbetalingUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FeilutbetalingVedtakUtvidelse1">
    <xsd:complexContent>
      <xsd:extension base="arbeidogaktivitet:Utvidelse"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FeilutbetalingVedtak">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="feilutbetalingRef" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Arena sakskode-løpenr vedtak&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="feilutbetalingPeriodeFra" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fra dato på periode feilutbetalingen gjelder for&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="feilutbetalingPeriodeTil" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Til dato på periode feilutbetalingen gjelder for&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bruttoFeilutbetaltAAP" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Brutto feilutbetalte arbeidsavklaringspenger&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bruttoFeilutbetaltDagpenger" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Brutto feilutbetalte dagpenger&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="bruttoFeilutbetaltIndividstonad" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Brutto feilutbetalte individstønad løpende ytelser&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="feilutbetalingListe" type="arbeidogaktivitet:Feilutbetaling">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av feilutbetalinger tilknyttet person med alle underliggende objekter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="arbeidogaktivitet:FeilutbetalingVedtakUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="YtelseUtvidelse1">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="meldehistorikkListe" type="arbeidogaktivitet:Meldehistorikk">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av meldehistorikk tilknyttet person med alle underliggende objekter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="feilutbetalingVedtakListe" type="arbeidogaktivitet:FeilutbetalingVedtak">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Liste av feilutbetalinger vedtak tilknyttet person med alle underliggende objekter.&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="utvidelse" type="arbeidogaktivitet:YtelseUtvidelse2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ytelse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fnr" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Fnr til bruker&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ytelsestype" type="arbeidogaktivitet:Ytelsestype">
        <xsd:annotation>
          <xsd:documentation>&lt;p&gt;Ytelseskode (F.eks. AAP)&lt;/p&gt;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="vedtakListe" type="arbeidogaktivitet:Vedtak"/>
      <xsd:element minOccurs="0" name="utvidelse" type="arbeidogaktivitet:YtelseUtvidelse1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>